<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--interesting: destroy methods only work for singletons due to lifecycle (http://docs.spring.io/spring/docs/3.1.x/spring-framework-reference/html/beans.html#beans-factory-scopes-prototype section 4.5.2) -->
    <bean class="io.github.mauricioborges.udemy.Halfling" name="singleton_halfling" scope="singleton"  destroy-method="die" init-method="speak">
        <constructor-arg name="name" value="Halflingzildo"/>
        <constructor-arg name="age" value="100"/>
    </bean>
    <bean class="io.github.mauricioborges.udemy.Halfling" name="halfling" scope="prototype">
        <constructor-arg name="name" value="Halflingzildo"/>
        <constructor-arg name="age" value="100"/>
        <property name="ownedPerson" value="invalidValue"></property>
    </bean>
    <bean class="io.github.mauricioborges.udemy.Halfling" name="halflingthatworks" scope="prototype">
        <constructor-arg name="name" value="Halflingzildo"/>
        <constructor-arg name="age" value="100"/>
        <property name="ownedPerson" ref="personCreator"></property>
    </bean>
    <bean class="io.github.mauricioborges.udemy.Person" name="personCreator" scope="prototype"/>
</beans>